[submodule "modules/charmony"]
	path = modules/charmony
	url = https://github.com/svenhjol/charmony.git
[submodule "modules/charmony-api"]
	path = modules/charmony-api
	url = https://github.com/svenhjol/charmony-api.git
[submodule "modules/charmony-azalea-wood"]
	path = modules/charmony-azalea-wood
	url = https://github.com/svenhjol/charmony-azalea-wood.git
[submodule "modules/charmony-brew-and-stew"]
	path = modules/charmony-brew-and-stew
	url = https://github.com/svenhjol/charmony-brew-and-stew.git
[submodule "modules/charmony-collection"]
	path = modules/charmony-collection
	url = https://github.com/svenhjol/charmony-collection.git
[submodule "modules/charmony-decor"]
	path = modules/charmony-decor
	url = https://github.com/svenhjol/charmony-decor.git
[submodule "modules/charmony-ebony-wood"]
	path = modules/charmony-ebony-wood
	url = https://github.com/svenhjol/charmony-ebony-wood.git
[submodule "modules/charmony-glint-colors"]
	path = modules/charmony-glint-colors
	url = https://github.com/svenhjol/charmony-glint-colors.git
[submodule "modules/charmony-mooblooms"]
	path = modules/charmony-mooblooms
	url = https://github.com/svenhjol/charmony-mooblooms.git
[submodule "modules/charmony-totem-of-preserving"]
	path = modules/charmony-totem-of-preserving
	url = https://github.com/svenhjol/charmony-totem-of-preserving.git
[submodule "modules/charmony-tweaks"]
	path = modules/charmony-tweaks
	url = https://github.com/svenhjol/charmony-tweaks.git
